.main {
  background-color: var(--default-background-color);
  padding: 120px 62px 90px 62px;
}

.article-image {
  float: left;
  margin-right: 23px;
  margin-bottom: 10px;
}

.clearfix::after {
  display: table;
  content: "";
  clear: both;
}

.first-article {
  display: flex;
  padding-bottom: 50px;
  border-bottom-style: solid;
  border-bottom-color: #dedbdb;
  border-bottom-width: 2px;
}

.agency-profile {
  flex: 0 0 70%;
  margin-right: 55px;
}

.principles {
  counter-reset: principles;
}

.principles-list {
  display: flex;
  flex-direction: column;
}

.principles-content {
  counter-increment: principles;
  margin-bottom: 30px;
}

.principles-content:last-child {
  margin-bottom: 0px;
}

.principles-content p {
  padding-left: 35px;
}

.principles-content h3::before {
  margin-right: 10px;
  display: inline-block;
  content: counter(principles);
  background-color: #38afe5;
  color: #ffffff;
  text-align: center;
  line-height: 25px;
  width: 25px;
  height: 25px;
  border-width: 1px;
  border-style: solid;
  border-color: #65a2bc;
  border-radius: 25px;
}

.second-article {
  padding-top: 57px;
  display: flex;
}

.offer {
  flex: 0 0 70%;
  margin-right: 55px;
}

.offer h2 {
  margin-bottom: 67px;
}

.offer-list {
  display: flex;
  flex-wrap: wrap;
}

.offer-content {
  flex: 0 0 50%;
  color: var(--secondary-main-font-color);
  font-size: 15px;
  margin-bottom: 30px;
}

.offer-content:nth-last-child(-n + 2) {
  margin-bottom: 0px;
}

.offer-content::before {
  content: "\2192";
  color: #38afe5;
  margin-right: 12px;
}

.offer p {
  margin-bottom: 33px;
}

.annotation,
.principles-content {
  color: var(--secondary-main-font-color);
  font-size: 15px;
  margin-bottom: 16px;
}

.quote-container {
  position: relative;
  font-size: 15px;
  background-color: #fcfafa;
  border-style: solid;
  border-width: 2px;
  border-color: #dfdcdc;
  padding: 23px;
  border-radius: 4px;
  margin-bottom: 60px;
}

.quote-container::before {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #dfdcdc;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
}

.quote-container::after {
  position: absolute;
  width: 0;
  height: 0;
  content: "";
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 30px solid #fcfafa;
  top: calc(100% - 3px);
  left: 50%;
  transform: translateX(-50%);
}

.quote-header {
  margin-bottom: 26px;
}

.quote-author {
  text-transform: capitalize;
  text-align: center;
  color: #263555;
  margin-bottom: 20px;
}

.quote-position {
  color: #4e5050;
  text-transform: capitalize;
  text-align: center;
  font-size: 13px;
}

.quote span::before,
.quote span::after {
  content: "\0022";
}

.main-footer {
  background-color: #30455b;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 130px;
}

p {
  color: #4e5050;
  font-size: 13px;
}
