:root {
  --logo-font: Dorsa;
  --main-font-style: "Pathway Gothic One";
  --primary-main-font-color: #ffffff;
  --secondary-main-font-color: #263555;
  --secondary-font-style: "Open Sans Condensed";
  --default-background-color: #ffffff;
}
