* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background: url(../images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  margin: auto;
  width: 480px;
  padding: 35px;
  background-color: white;
}

.profile {
  margin-top: 25px;
  margin-bottom: 50px;
}

.principles {
  padding-bottom: 50px;
  margin-bottom: 50px;
  border-bottom: 2px solid #dedbdb;
}

h2 {
  font-family: "Pathway Gothic One", sans-serif;
  text-transform: uppercase;
  color: #263555;
  margin-bottom: 30px;
}

img {
  display: block;
  margin-bottom: 30px;
  width: 100%;
}

.annotation {
  color: #263555;
  text-transform: capitalize;
  font-weight: bold;
  margin-bottom: 25px;
}
h4 {
  color: #263555;
  text-transform: capitalize;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 15px;
}

p {
  color: #4e5050;
}
ul {
  margin-top: 40px;
  padding-left: 20px;
  column-count: 2;
}
li {
  display: inline-block;
  color: #263555;
  margin-top: 10px;
  font-weight: bold;
}
