:root {
  --logo-font: Dorsa;
  --content-font: Pathway Gothic One;
  --main-font-color:#263555;
  --light-font-content-color:#ffffff;
  --controls-color:#38afe5;
  --submenu-color:#6b7488;
  --controls-on-hover-color:#bce4f6;
  --default-background-color:#ffffff;
  --article-background-color:#193149;
}
